:root {
  --font-family-main: 'Roboto';

  --font-weight-s: 400;
  --font-size-s: 14px;
  --font-line-s: 16px;
  --font-s: var(--font-weight-s) var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --color-white: #fff;
  --color-black: #000;
  --color-black11: #111;
  --color-primary: #787878;
}
