.input {
  max-width: 240px;
  padding: 10px 16px;
  font: var(--font-s);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-primary);
  background: var(--color-black11);
  border: 2px solid transparent;
  border-radius: 70px;

  &:focus {
    background: transparent;
    border-color: var(--color-primary);
  }
}

.disabled {
  opacity: 0.5;
}

.invalid {
  border-color: var(--red-dark) !important;
}

.center {
  text-align: center;
}
